.slide-in { 
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: bottom;
    z-index: 1000;
}

.slide-out { 
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: top;
    z-index: 1000;
}

@font-face {
    font-family: 'Pinot';
    src: url('./fonts/pinot/Pinot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

